<html>
  <body>
	Sign up for an email subscription for daily information: <form type="input"><input type="submit" value="submit"/></form><br>
	
	Try it here: <form action="/test">
    <input type="submit" value="Example!" />
	</form>
  </body>
</html>