<html>
  <body>
	<p>Terms: <%=@story.babble%></p>
	<p>Title: <%=@story.title.first%></p>
	<p>Summary: <%=@story.summary.first%></p>
	<a href="<%=@story.link%>">Link:</a><br>
	
	
	
	
	
	
	
	
	
	
	
	<br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	Creator's comment(s):
	I can't give you the direct link to the article because I am not very good at the coding department.
	<br>
	I am also clearly a great designer
  </body>
</html>